

#content ul, #help ul, #content ol{
	margin-left:3.5em;
}

#content ul, #help ul{
	margin-top:0.5em;
	margin-bottom:0.5em;
	list-style-type:disc;
}

#content ol{
	list-style-type:decimal;
}
	
input[type="text"],input[type="password"]{
	padding: 0.08em 0.25em;
}	
	



.clear{
	clear:both;
	padding:0px;
	margin:0px;
	line-height:0px;
}

img{
	vertical-align: text-bottom;
	}
	
p.breadcrumb{
	line-height:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.labelContainer img{
	margin-left:0.5em;
	}



.inputContainer label div.description, span.description{
	
	font-weight:normal;
}

.inputContainer label.awsc-radio{

	font-weight:normal;	
}

.inputContainer{
		margin-top:0.25em;
		margin-bottom:0.75em;
		}
		
div#content{
	
	margin-bottom:.5em;
	}

#pageLabel{
	text-align:left;
	padding-top:2.5em;
	padding-bottom:.5em;
	}

div#help {
	border-top:solid 1px black;
	width:100%;
}

#help div,#help p{
	margin-top:1em;
	margin-bottom:.5em;
	}

	
.back-to-input-field{
	float:right;
	text-align:center;
	}
#errorTitle{
	float:left;
	margin-right:1em;
	margin-top:0.5em;
}

#errorTitle h1{
	margin-right:1em;
	margin-top:0.25em;
	width:5em;
}
	

#errorSummary{
	padding:0.5em;
	
	}

.hidden{
	display:none;
	}
	
	
	
#errorSummary h2{
	color:red;
	}
	
#errorSummary{
		padding:0.5em;
	}
#errorSummary ul{
	margin:.5em 2em .5em 2em;
	list-style-type:disc;
	}

.errorDescription{
	color: #D3080C;
	font-weight:bold;
	display:block;
	}
.errorLabel{
	color: #D3080C;
}
	
.errorText{
	font-weight:normal;
	}

.description{
	display:block;
}

.submitForm{
	margin:.5em;
}

.formButtons{
	margin-top:1em;
	
}

.nowrap {
	white-space: nowrap
}

.inline{
	display:inline;
	}

.standout{
	font-size:110%;
	font-weight:bold;
}


.mandatory{
	font-weight:normal;
}

.highlight {
	 text-decoration: underline 
 }
 .awsc-nav{
    padding:1em;
 
 }
 
/* === CRA Branding START === */
#brand-container-cra {
	background: #335075 none repeat scroll 0 0;
}

#brand-text-cra {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.1;
	color: #fff;
 	margin-bottom: 6px;
 	margin-top: 8px;
	padding: 6px 0 6px 15px;
}

/* Adjustments for mobile screens */
@media (max-width: 479px){

#wb-glb-mn ul.chvrn {
	margin-bottom: 0px;
}

#brand-container-cra {
	background: #e1e4e7 none repeat scroll 0 0;
	margin-left: 15px;
	margin-right: 15px;
}

#brand-text-cra {
	font-size: 15px;
	color: #335075;
}

}