@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext');


body {
	border: 0px solid red;
}

body, header, nav#wb-bc {
	background-color: white !important;
	font-family: 'Noto Sans', sans-serif;
}

#wb-dtmd {
	font-size: 16px !important;
}

h1 {
	font-size: 39px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid #af3c43
}

.mini-h2s {
	padding-top: 0px !important;
	margin-top: 25px !important;
	font-size: 24px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
}

h2 {
	font-size: 32px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
	padding-top: 15px !important;
}

h3 {
	font-size: 28px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
	padding-top: 5px !important;
}

h4 {
	font-size: 24px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
}

h5 {

	font-size: 23px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
}

/* text formatting */

p, ul, li {
	font-size: 17px !important;
	line-height: 26px !important;
}

main.container p, 
main.container li, 
main.container li, 
main.container h1, 
main.container h2, 
main.container h3, 
main.container h4, 
main.container h5, {
	max-width: 780px !important;
	} 

.cust-breadcrumb {
	font-size: 16px !important;
}

td {
	font-size: 19px !important;
	font-family: 'Noto sans', sans-serif; !important;
}

caption, th {
	font-size: 17px !important;
	font-family: 'Noto sans', sans-serif; !important;
}

main.container li {
	font-size: 20px !important;
	font-family: 'Noto sans', sans-serif !important;
	line-height: 34px !important;
	margin-left: 50px;
	margin-bottom: 10px !important;
	list-style-type: disc !important;
}

main.container ul.toc li {
	margin-left: 0 !important;
	padding-left: 0 !important;
	}

.bullet {
	font-size: 19px !important;
	line-height: 28px !important;
	list-style-type: disc !important;
	color: black;
}

/* larger font size for text-heavy content */

main.container p {
	font-size: 20px !important;
	font-family: 'Noto sans', sans-serif !important;
	line-height: 34px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

/* doormats */

main.container section.gc-drmt {
	margin-top: 0px !important;
	padding-top: 0px !important;
}
main.container .gc-drmt h3 a,
main.container div.doormats h3 a {
	font-size: 20px !important;
}
main.container .gc-drmt p,
main.container div.doormats p {
	font-size: 17px !important;
	padding-top: 0 !important;
	font-family: 'Lato', sans-serif !important;
	padding-top: 0 !important;
	line-height: 26px !important;
}

/* on this page */

section.otp {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 2.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}
section.otp h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 27px !important;
}
.onpage {
	padding-bottom: 20px;
}

/* most requested boxes */

main.container .lnkbx li {
	font-size: 19px !important;
	line-height: 25px !important;
}

/* most requested on home page */

main.container .mr-home {
	font-size: 17px !important;
	font-weight: 600 !important;
	padding-bottom: 7px;
	margin-left: 0;
	margin-bottom: 0 !important;
	font-family: 'Lato', sans-serif !important;
	list-style-type: none !important;
}

.green-2 {
	margin-top: 15px !important;
	margin-bottom: 25px !important;
	font-size: 22px !important;
	color: white !important;
	background-color: #318000 !important;
	border: 1px solid #455E82 !important;
	font-weight: 600 !important;
	font-family: "Lato";
	padding: 10px 20px 10px 20px !important;
}

.is-size-5 {
	font-size: 19px !important;
}

ul.list-unstyled {
	list-style-type: none;
}

strong {
	  font-weight: 600 !important;
}

abbr {
	border-bottom: none !important;
	text-decoration: none !important;
}

.breadcrumb {
	margin-bottom: -20px !important;
	padding-top: 2px !important;
}

.list-group-item {
	background-color: #F8F8F8;
}

/* theme page uncarousels */
div.uncarousel {
	padding-top: 30px;
	padding-bottom: 30px;
}
div.uncarousel a.learnmore figcaption {
	background-color: #f9f9f9 !important;
	border: 1px #ddd solid;
}
div.uncarousel a.learnmore figcaption p {
	text-decoration: underline !important;
	color: #284162;
	margin: 0 0 0 11.5px;
}
.wb-tabs.carousel-s1 figcaption, .wb-tabs.carousel-s2 figcaption {
	z-index: 1 !important;
}

/* menu items */
.cust-small   {
	margin-top: -3px !important;
	font-size: 16px !important;
}

/* for the active menu item color */
.cust-active   {
	background-color: #4d4d4d !important;
	border-color: #8f8f8f  !important;
}

.text-banner {
	color: white;
	margin-top: 8px;
}

.text-background-1 {
	background-color: #26374a;
	padding-top: 15px;
	/* opacity: .95; */
}

.text-background-2 {
	background-color: #26374a;
	padding-bottom: 15px;
	/* opacity: .95; */
}

.your-gov {
	background-image: url("../images/your-gov.jpg");
	background-color: #f0f0f0;
	display: inline-block;
	padding-top: 30px !important;
	padding-bottom: 40px !important;
	background-repeat: no-repeat;
	background-position: right center;
}

.your-gov-2 {
	background-image: url("../images/your-gov-2.jpg");
	display: inline-block;
	padding-top: 30px !important;
	padding-bottom: 40px !important;
	background-repeat: no-repeat;
	background-position: right center;
}

.by-aud {
	background-image: url("../images/audience.jpg");
	background-color: #f0f0f0;
	display: inline-block;
	padding-top: 30px !important;
	padding-bottom: 40px !important;
	background-repeat: no-repeat;
	background-position: right center;
}

.edge-color {
    background-color: #f0f0f0;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 15px;
}

.homeborder {
	font-weight: 500 !important;
	font-family: 'Lato', sans-serif;
	border-bottom: 4px solid #af3c43;
}

.canadamenu {
	display: inline-block;
	width: 100%;
	max-height: 100px;
	border-top: 3px solid #38414d;
	margin-top: 10px;
}
body.homepage .canadamenu {
	display: inline-block;
	width: 100%;
	max-height: 100px;
	border-top: 1px solid #ddd;
	margin-top: 10px;
}

.gc-prtts p.init {
	line-height: 26px !important;
	padding: 0 !important;
}

.img-banner {
	background-image: url("../images/canada-bkg.jpg");
	background-color: #26374a;
	background-repeat: no-repeat;
	background-size:100% auto;
	width: 100%;
	padding-top: 45px;
	padding-bottom: 45px;
}

.content-restrict {
	display: inline-block !important;
	position: relative;
	max-width: 70em;
}

.footer-text {
	color: white !important;
}

.parliament {
	background-image: url("../images/parliament-vector.png");
	background-color: #26374a;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.brand {
	background: white !important;
	border-top: none !important;
}

section.lnkbx ul {
	padding-top: 15px;
	padding-bottom: 18px;
}

.init-box {
	padding: 15px;
	min-height: 135px;
	background-color: #f9f9f9 !important;
	border: 1px #ddd solid;
}

.init {
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px !important;
}

button#wb-srch-sub a:visited {
	color: white !important;
}
button#wb-srch-sub a {
	color: white !important;
}

.topmenu ul.nav > li > a   {
	background-color: #26374a !important;
	color: white;
}

.topmenu {
	margin-right: -20px;
}

.topmenu ul.nav > li > a:hover {
	color: #26374a;
}

.topmenu ul.nav > li > a:focus {
	color: white;
}

.allbutton {
	border: none !important;
	color: white;
	margin-right: 10px;
	margin-left: 14px;
	background-color: #26374a;
}

body.homepage .topmenu ul.nav > li > a {
  background-color: white !important;
  color: #284162;
}

body.homepage .topmenu {
  margin-right: -20px;
}

body.homepage .topmenu ul.nav > li > a:hover {
  color: #284162;
}

body.homepage .topmenu ul.nav > li > a:focus {
  color: white;
}

body.homepage .allbutton {
  border: none !important;
  color: #284162;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

body.homepage button#wb-srch-sub a:visited {
  color: white !important;
  }

body.homepage button#wb-srch-sub a {
  color: white !important;
  }

/*  tablet/mobile fonts customizations and scaling */

@media screen and (max-width: 1200px) {

	.init-box {
		padding: 15px;
		min-height: 155px;
		max-height: 185px;
		background-color: #f9f9f9 !important;
		border: 1px #ddd solid;
	}

	p, ul, li {
		font-size: 19px !important;
		line-height: 26px !important;
	}

	h1 {
		font-size: 32px !important;
	}

	h2 {
		font-size: 32px !important;
	}

	h3 {
		font-size: 26px !important;
	}

	h4 {
		font-size: 24px !important;
	}

	h5 {
		font-size: 21px !important;
	}

	.ch5 {
		font-size: 21px !important;
	}

	.mr-home {
		list-style-type: none !important;
		font-size: 19px !important;
		padding-bottom: 0 !important;
	}

	.breadcrumb {
		margin-top: 15px !important;
		margin-bottom: 12px !important;
	}

}
